*{ Display a advert in one of these modes: 'full', 'home' or 'teaser' }*

<div class="advert ${_as == 'teaser' ? 'teaser' : ''}">
    <h2 class="advert-title">
        <a href="@{Application.show(_advert.id)}">${_advert.title}</a>
    </h2>
    <div class="advert-metadata">
        <span class="advert-author">by ${_advert.author.fullname}</span>,
        <span class="advert-date">${_advert.postedAt.format('dd MMM yy')}</span>
        #{if _as != 'full'}
            <span class="advert-comments">
                &nbsp;|&nbsp; ${_advert.comments.size() ?: 'no'}
                comment${_advert.comments.size().pluralize()}
                #{if _advert.comments}
                    , latest by ${_advert.comments[0].author}
                #{/if}
            </span>
        #{/if}
    </div>
    #{if _as != 'teaser'}
        <div class="advert-content">
            <div class="about">Detail: </div>
            ${_advert.content.nl2br()}
        </div>
    #{/if}
</div>

#{if _as == 'full'}
    <div class="comments">
        <h3>
            ${_advert.comments.size() ?: 'no'}
            comment${_advert.comments.size().pluralize()}
        </h3>
        %{ hiddenCommentsNum = 0 }%
        #{list items:_advert.comments, as:'comment'}
            #{if false==comment.isHidden()}
            <div class="comment">
                <div class="comment-metadata">
                    <span class="comment-author">by ${comment.author},</span>
                    <span class="comment-date">
                        ${comment.postedAt.format('dd MMM yy')}
                    </span>
                </div>
                <div class="comment-content">
                    <div class="about">Detail: </div>
                    ${comment.content.escape().nl2br()}
                </div>
            </div>
            #{/if}
            #{else}
              %{ hiddenCommentsNum = hiddenCommentsNum+1 }%
            #{/else}
        #{/list}
        <div id="hiddenCommentNotification">(${hiddenCommentsNum} comments hidden because you are not logged in.)</div>
    </div>
#{/if}