#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if frontAdvert}
    
    #{display post:frontAdvert, as:'home' /}
    
    #{if olderAdverts.size()}
    
        <div class="older-posts">
            <h3>Older adverts <span class="from">from this board</span></h3>
        
            #{list items:olderAdverts, as:'oldAdvert'}
                #{display post:oldAdvert, as:'teaser' /}
            #{/list}
        </div>
        
    #{/if}
    
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}