#{extends 'main.html' /}
#{set title:'Home' /}
 
#{if advertsFound.size()}

<div class="older-posts">
    <h3>Active adverts <span class="from">on this board</span>
        <span id="sortBy">
            Sort by:
            <a href="@{Application.index('advertiser',sortBar.lastSortBy,sortBar.sortingReversed)}">${sortBar.sortByAdvertiserCaption}</a> |
            <a href="@{Application.index('date',sortBar.lastSortBy,sortBar.sortingReversed)}">${sortBar.sortByDateCaption}</a>
        </span>
    </h3>

    #{paginate.list items:advertsFound, as:'currAdvert'}
        #{display advert:currAdvert, as:'teaser' /}
    #{/paginate.list}

    #{paginate.controls items:advertsFound /}
</div>

#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}