#{extends 'main.html' /}
#{set title:advert.title /}
<ul id="pagination">
    #{if advert.previous()}
        <li id="previous">
            <a href="@{Application.show(advert.previous().id)}">
                ${advert.previous().title}
            </a>
        </li>
    #{/if}
    #{if advert.next()}
        <li id="next">
            <a href="@{Application.show(advert.next().id)}">
                ${advert.next().title}
            </a>
        </li>
    #{/if}
</ul>
#{if flash.success}
    <p class="success">${flash.success}</p>
#{/if}
#{display advert:advert, as:'full' /}
<h3>Post a comment</h3>

#{form @Application.postComment(advert.id)}
    #{ifErrors}
        <p class="error">
            All fields are required!
        </p>
    #{/ifErrors}
    <p>
        <label for="author">Your name: </label>
        <input type="text" name="author" id="author" value="${params.author}"/>
    </p>
    <p>
        <label for="content">Your message: </label>
        <textarea name="content" id="content">${params.content}</textarea>
    </p>
    <p>
        <input type="submit" value="Submit your comment" />
    </p>
#{/form}
